@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';

@import 'uikit/src/scss/uikit-theme.scss';

.App {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App {
  * {
    box-sizing: border-box;
  }

  .rounded {
    border-radius: 1rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}
